<mat-sidenav-container>

    <mat-sidenav #sidenav mode="push">
        <div class="branding">
            <img src="../assets/logo.png" /> {{appName}}
        </div>

        <mat-nav-list>
            <nav fxShow fxHide.xs="false" fxHide.lg="true">
                <a mat-list-item  *ngIf="authService.isStudent()" [matMenuTriggerFor]="studentMenu">
                    Escritorio Estudiante
                </a>
                <a mat-button *ngIf="authService.isSpecialist()" [matMenuTriggerFor]="specialistMenu">
                    Escritorio Especialista
                </a>
                <a mat-button *ngIf="authService.isAdmin()" [matMenuTriggerFor]="adminMenu">
                    Escritorio Administracion
                </a> 
            </nav>
            <mat-menu #studentMenu="matMenu">
                <a mat-menu-item routerLink="dashboard/questionnaire" (click)="sidenav.close()"><mat-icon>description</mat-icon>Cuestionarios</a>
                <a mat-menu-item routerLink="dashboard/exercise" (click)="sidenav.close()"><mat-icon>assignment</mat-icon>Ejercicios</a>
                <a mat-menu-item routerLink="dashboard/result" (click)="sidenav.close()"><mat-icon>done</mat-icon>Resultados</a>
            </mat-menu>

            <mat-menu #specialistMenu="matMenu">
                <a mat-menu-item routerLink="dashboard/questionnaire"(click)="sidenav.close()" ><mat-icon>assignment</mat-icon>Gestionar Ejercicios</a>
                <a mat-menu-item routerLink="dashboard/evaluation" (click)="sidenav.close()"><mat-icon>done</mat-icon>Ver Resultados</a>
            </mat-menu>
            
            <mat-menu #adminMenu="matMenu">
                <a mat-menu-item routerLink="admin/user/read" (click)="sidenav.close()"><mat-icon>person</mat-icon>Gestionar Usuarios</a>
            </mat-menu>
        </mat-nav-list>
    </mat-sidenav>

    <div class="wrapper">

        <nav class="app-navbar">
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                    <button mat-icon-button fxShow fxHide.xs="false" fxHide.gt-xs="true" (click)="sidenav.open()">
                        <mat-icon>menu</mat-icon>
                    </button>

                    <span routerLink="" fxShow fxHide.xs="true" fxHide.lg="false" class="branding text-center">
                        <img src="../assets/logo.png" />
                    </span>

                    <mat-divider></mat-divider>

                    <ul class="nav" fxShow fxHide.xs="true" fxHide.lg="false">
                        <li *ngIf="authService.isStudent()">
                            <a mat-button [matMenuTriggerFor]="toolbarStudentMenu">
                                <mat-icon>home</mat-icon>
                                <span>Escritorio Estudiante</span>
                            </a>
                        </li>
                        <li *ngIf="authService.isSpecialist()">
                            <a mat-button [matMenuTriggerFor]="toolbarSpecialistMenu">
                                <mat-icon>home</mat-icon>
                                <span>Escritorio Especialista</span>
                            </a>
                        </li>
                        <li *ngIf="authService.isAdmin()">
                            <a mat-button [matMenuTriggerFor]="toolbarAdminMenu">
                                <mat-icon>home</mat-icon>
                                <span>Escritorio Administracion</span>
                            </a>
                        </li>
                    </ul>                    
                    
                    <mat-menu #toolbarStudentMenu="matMenu">
                        <a mat-menu-item routerLink="dashboard/questionnaire"><mat-icon>description</mat-icon>Cuestionarios</a>
                        <a mat-menu-item routerLink="dashboard/exercise"><mat-icon>assignment</mat-icon>Ejercicios</a>
                        <a mat-menu-item routerLink="dashboard/result"><mat-icon>done</mat-icon>Resultados</a>
                    </mat-menu>

                    <mat-menu #toolbarSpecialistMenu="matMenu">
                            <a mat-menu-item routerLink="dashboard/questionnaire"(click)="sidenav.close()" ><mat-icon>assignment</mat-icon>Gestionar Ejercicios</a>
                        <a mat-menu-item routerLink="dashboard/evaluation"><mat-icon>done</mat-icon>Ver Resultados</a>
                    </mat-menu>
                    
                    <mat-menu #toolbarAdminMenu="matMenu">
                        <a mat-menu-item routerLink="admin/user/read"><mat-icon>person</mat-icon>Gestionar Usuarios</a>
                    </mat-menu>

                    <span class="spacer"></span>
                                
                    <a mat-button [matMenuTriggerFor]="toolbarUserMenu">
                        <span *ngIf="logged">Bienvenido {{authService.getFirstname()}}</span>
                        <mat-icon>more_vert</mat-icon>
                    </a>
                    
                    <mat-menu #toolbarUserMenu="matMenu">
                        <a mat-menu-item *ngIf="logged"  routerLink="auth/profile"><mat-icon>account_circle</mat-icon>Perfil de Usuario</a>
                        <a mat-menu-item *ngIf="logged"  (click)="logout()"><mat-icon>lock</mat-icon>Cerrar Sesión</a>
                        <a mat-menu-item *ngIf="!logged" routerLink="auth/signup"><mat-icon>account_circle</mat-icon>Regístrarse</a>
                        <a mat-menu-item *ngIf="!logged" routerLink="auth/login"><mat-icon>lock_open</mat-icon>Iniciar Sesión</a>
                    </mat-menu>
                </mat-toolbar-row>
            </mat-toolbar>
        </nav>

        <hr />

        <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="2px">
            <div class="item" fxFlex="100%" fxFlex.xs="100%">
                <div class="content-router" [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
                    <router-outlet #o="outlet"></router-outlet>
                </div>
            </div>
        </div>

        <hr />
        
        <footer class="footer">
            <div class="signature">{{appName}} &#169; {{year}} - Todos los Derechos Reservados
                <a matTooltip="Show changelog" matTooltipPosition="before" href="https://gitlab.com/ysantalla/project/blob/master/CHANGELOG.md">
                    <span *ngIf="!isProd">[{{envName}}]</span>
                </a>
            </div>
        </footer>

    </div>

</mat-sidenav-container>
